  @import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


.font-family-primary {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.font-family-secondary {
    font-family: "Pacifico", cursive;
}

.font-family-third {
    font-family: "BBH Sans Bartle", sans-serif;
}

.w-main {
    @apply max-w-screen-2xl mx-5 sm:mx-10 2xl:mx-auto
}

.plus-minus-btn{
    @apply border-2 border-zinc-400 hover:border-transparent active:shadow-none hover:shadow-md w-12 h-12 rounded-sm flex justify-center items-center text-3xl cursor-pointer bg-transparent hover:bg-black text-black hover:text-white transition-all duration-300 active:scale-95
}